$defaultFontFamily: -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'メイリオ', 'Meiryo', 'Hiragino Sans', sans-serif;
$monospaceFontFamily: Consolas, 'Courier New', monospace;
$grey: lighten(#000, 30%);
$greyDarken: darken(#fff, 15%);
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin breakpointUp($key) {
  @if map-has-key($breakpoints, $key) {
    $size: map-get($breakpoints, $key);

    @media screen and (min-width: #{$size}) {
      @content;
    }
  } @else {
    @error '「#{$key}」は「#{map-keys($breakpoints)}」のどれにも当てはまりません。';
  }
}

@mixin breakpointDown($key) {
  @if map-has-key($breakpoints, $key) {
    $size: map-get($breakpoints, $key);

    @media screen and (max-width: #{$size}) {
      @content;
    }
  } @else {
    @error '「#{$key}」は「#{map-keys($breakpoints)}」のどれにも当てはまりません。';
  }
}

body {
  margin: 0;
  font-family: $defaultFontFamily;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.Main {
  margin: 30px;

  .Hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include breakpointDown("md") {
      flex-direction: column;
    }

    .HeroText {
      flex: 1 1;

      .TwitterLink {
        text-decoration: none;
        color: blue;
        margin-inline-end: 3px;
      }

      .DiscordTag {
        font-family: $monospaceFontFamily;
        background-color: darken(#fff, 5%);
        letter-spacing: 1px;
        margin-inline: 3px;
      }
    }

    .HeroFloatIconContainer {
      flex: 1 1;
      width: 100%;
      height: 100%;

      .HeroFloatIcons {
        position: relative;
        width: 100%;
        height: 100%;
  
        .HeroFloatIcon {
          position: absolute;
          width: 128px;
          height: 128px;

          @include breakpointDown("lg") {
            width: 96px;
            height: 96px;
          }

          @include breakpointDown("md") {
            width: 64px;
            height: 64px;
          }
  
          &.Git {
            right: 5%;
            top: 5%;
            animation: FloatIcon 1s alternate infinite;
          }
  
          &.GitHub {
            left: 5%;
            top: 5px;
            animation: FloatIcon 1.1s alternate infinite;
          }
  
          &.JavaScript {
            left: 50%;
            top: 50%;
            bottom: 50%;
            animation: FloatIcon 1.5s alternate infinite;
          }
  
          &.NodeJS {
            right: 5%;
            bottom: 15%;
            animation: FloatIcon 1.4s alternate infinite;
          }

          &.Rust {
            left: 10px;
            bottom: 5%;
            animation: FloatIcon 1.6s alternate infinite;
          }

          &.React {
            left: 20%;
            bottom: 50%;
            animation: FloatIcon 1.3s alternate infinite;
          }

          &.HTML5 {
            right: 20%;
            top: 30%;
            animation: FloatIcon 1.7s alternate infinite;
          }

          &.VueJS {
            left: 10%;
            bottom: 25%;
            animation: FloatIcon 1.9s alternate infinite;
          }

          &.Windows10 {
            left: 40%;
            top: 10%;
            animation: FloatIcon 1.8s alternate infinite;
          }

          &.Docker {
            left: 40%;
            bottom: 10%;
            animation: FloatIcon 1.2s alternate infinite;
          }
        }
      }
    }
  }
}

.Footer {
  padding: 30px 60px;
  border-top: 1px solid $greyDarken;

  @include breakpointDown("sm") {
    padding: 30px 15px;
  }

  @include breakpointDown("md") {
    padding: 30px 30px;
  }

  .FooterLinkLists {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr) auto;

    @include breakpointDown("sm") {
      grid-template-columns: repeat(1, 1fr);
    }

    .FooterLinkList {
      .FooterLinkListTitle {
        margin-block: 0;
      }

      .FooterLinkListItems {
        padding-inline-start: 0;
      }

      .FooterLinkListItem {
        display: block;
      }

      .FooterLink {
        color: $grey;
        text-decoration: none;

        &:hover {
          transition: color 0.3s;
          color: blue;
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes FloatIcon {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
